#card {
    display: flex;
}

#card .items {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    padding: 50px 40px;
    margin-right: 24px;
}

#card .items:last-child {
    margin-right: 0;
}

#card .items h4 {
    font-size: 28px;
}

#card .items span {
    font-size: 12px;
}

#card .items h5 {
    font-size: 14px;
    margin-bottom: 10px;
}

#card .items button.start {
    display: flex;
    margin-bottom: 14px;
    background-color: #fee7a8;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in;
}

#card .items button.start:hover {
    transition: .3s ease-in;
    transform: scale(1.1);
}

#card .items button.start img {
    margin-left: 6px;
}

#card .items h6 {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 10px;
}

#card .items ul li {
    display: flex;
    margin-bottom: 14px;
}

#card .items ul li img {
    margin-right: 8px;
}


#card .items button.explore {
    margin-top: 16px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    transition: .3s ease-in;
}

#card .items button.explore:hover {
    transition: .3s ease-in;
    transform: scale(1.1);
}