.card .items {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 30%;
}

.card .items h4 {
    font-size: 28px;
}

.card .items span {
    font-size: 14px;
}

.card .items button.start {
    display: flex;
}

.card .items ul li {
    display: flex;
}