.plan-container {
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 0 50px; */
    /* margin-top: 20px; */
    /* width: 100vw; */
    width: 50%;
    margin-right: 20px;
}

.plan-card {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;

    /* margin-right: 30px; */
}

.plan-container:last-child {
    margin-right: 0;
}

.plan-card .left-content {
    width: 65%;
}

.plan-card .left-content button.card-btn {
    background-color: #96f7a0;
    border: none;
    padding: 2px 8px;
    border-radius: 18px;
    font-size: 10px;
}

.blue .plan-card .left-content button.card-btn {
    background-color: blue;

}

.plan-card .left-content h3 {
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.plan-card .left-content p {
    font-size: 14px;
    margin-bottom: 16px;
}

.plan-card .left-content .card-btn-start {
    display: flex;
    margin-bottom: 14px;
    background-color: #96f7a0;
    outline: none;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
}

.blue .plan-card .left-content .card-btn-start {

    background-color: blue;

}

.plan-card .left-content .card-btn-start img {
    margin-left: 6px;
}

.plan-card .right-content h6 {
    font-size: 12px;
}

.plan-card .right-content ul {
    padding: 10px;

}

.plan-card .right-content ul li {
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 200px;
}

.plan-card .right-content ul li img {
    margin-right: 8px;
}